# **Proyecto de EDA, limpieza e inserción de datos**
## **Los 100.000 libros más leídos en Goodreads**
### **Lidya Descals**

---

### **Realizamos las importaciones de las librerías necesarias**

In [2]:
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

### **Abrimos el dataset**

In [3]:
df = pd.read_csv("../../datasets/books.csv")
df.head()

,author,bookformat,desc,genre,img,isbn,isbn13,link,pages,rating,reviews,title,totalratings
0,Laurence M. Hauptman,Hardcover,Reveals that several hundred thousand Indians ...,"History,Military History,Civil War,American Hi...",https://i.gr-assets.com/images/S/compressed.ph...,002914180X,9.78E+12,https://goodreads.com/book/show/1001053.Betwee...,0,3.52,5,Between Two Fires: American Indians in the Civ...,33
1,"Charlotte Fiell,Emmanuelle Dirix",Paperback,Fashion Sourcebook - 1920s is the first book i...,"Couture,Fashion,Historical,Art,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,1906863482,9.78E+12,https://goodreads.com/book/show/10010552-fashi...,576,4.51,6,Fashion Sourcebook 1920s,41
2,Andy Anderson,Paperback,The seminal history and analysis of the Hungar...,"Politics,History",https://i.gr-assets.com/images/S/compressed.ph...,948984147,9.78E+12,https://goodreads.com/book/show/1001077.Hungar...,124,4.15,2,Hungary 56,26
3,Carlotta R. Anderson,Hardcover,"""All-American Anarchist"" chronicles the life a...","Labor,History",https://i.gr-assets.com/images/S/compressed.ph...,814327079,9.78E+12,https://goodreads.com/book/show/1001079.All_Am...,324,3.83,1,All-American Anarchist: Joseph A. Labadie and ...,6
4,Jean Leveille,NaN,"Aujourdâ€™hui, lâ€™oiseau nous invite Ã sa ta...",NaN,https://i.gr-assets.com/images/S/compressed.ph...,2761920813,NaN,https://goodreads.com/book/show/10010880-les-o...,177,4.00,1,Les oiseaux gourmands,1

### **Hacemos comprobaciones básicas de las características del dataframe**

 - Tamaño

In [4]:
print(f"Nuestro dataframe tiene {df.shape[0]} filas y {df.shape[1]} columnas")

Nuestro dataframe tiene 100000 filas y 13 columnas

 - Tipos de columnas

In [5]:
df.dtypes

author           object
bookformat       object
desc             object
genre            object
img              object
isbn             object
isbn13           object
link             object
pages             int64
rating          float64
reviews           int64
title            object
totalratings      int64
dtype: object

 - Cantidad de nulos

In [6]:
# En totales

df.isnull().sum()

author              0
bookformat       3228
desc             6772
genre           10467
img              3045
isbn            14482
isbn13          11435
link                0
pages               0
rating              0
reviews             0
title               1
totalratings        0
dtype: int64

In [7]:
# En porcentajes

df.isnull().sum()*100/df.shape[0]

author           0.000
bookformat       3.228
desc             6.772
genre           10.467
img              3.045
isbn            14.482
isbn13          11.435
link             0.000
pages            0.000
rating           0.000
reviews          0.000
title            0.001
totalratings     0.000
dtype: float64

 - Cantidad de duplicados

In [8]:
print(f"Nuestro dataframe tiene {df.duplicated().sum()} filas duplicadas.")

Nuestro dataframe tiene 0 filas duplicadas.

 - Principales estadísticos de las columnas numéricas

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
pages,100000.0,255.010240,367.913582,0.0,135.00,240.00,336.00,70000.0
rating,100000.0,3.833055,0.621237,0.0,3.66,3.91,4.14,5.0
reviews,100000.0,181.528450,1449.451229,0.0,3.00,15.00,67.00,158776.0
totalratings,100000.0,2990.764270,36353.379594,0.0,31.00,146.00,744.00,3819326.0

 - Principales estadísticos de las columnas categóricas

In [10]:
df.describe(include = "object").T

,count,unique,top,freq
author,100000,68767,Mi-Ri Hwang,137
bookformat,96772,202,Paperback,53855
desc,93228,92499,This scarce antiquarian book is a facsimile re...,77
genre,89533,72129,Nonfiction,486
img,96955,96955,https://i.gr-assets.com/images/S/compressed.ph...,1
isbn,85518,85518,002914180X,1
isbn13,88565,725,9.78E+12,49096
link,100000,100000,https://goodreads.com/book/show/1001053.Betwee...,1
title,99999,97588,Love in the Mask,32

 - Tipos de columnas

 - Tipos de columnas

 - Tipos de columnas

 - Tipos de columnas

 - Tipos de columnas

 - Tipos de columnas

 - Tipos de columnas